* {
    box-sizing: border-box;
}

html {
    width: 100%
}

body {
    width: 960px;
    background: lightsteelblue;
    margin: 50px auto;
}

/* button {
    background: #eee;
    padding: 10px 25px;
    margin-bottom: 15px;
    display: block;
} */


#yourHealth, #dragonHealth {
    position: relative;
    height: 30px;
    width:100%;
    border: white 3px solid;
    border-radius: 3px;
    margin-right: 20px;
    display: inline-block;
}

#yourHealthBar, #dragonHealthBar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000;
}

#announcements {
    border: black 2px solid
}

#announcements span {
    color: white;
}